<div class="col s4">
  <div
    class="card"
    [ngClass]="{
      'main-div grey lighten-2': todo.done,
      'blue-grey darken-3  white-text': !todo.done
    }"
  >
    <div class="card-content">
      <span class="card-title">
        <div class="" style="font-size: small; opacity: 0.5;">
          {{ customDate.transform(todo.creationDate, true) }}
        </div>
        <div *ngIf="editMode; else elseBlock">
          <div>
            <label name="label">
              Change label
              <input
                type="text"
                name="label"
                [(ngModel)]="todo.label"
                (keyup.enter)="updateLabel()"
              />
            </label>
          </div>
        </div>
        <ng-template #elseBlock>
          {{ todo.label }}

          <i class="material-icons right" (click)="changeEditMode()">edit</i>
        </ng-template>
      </span>
    </div>
    <div class="card-action">
      <a href="#" (click)="changeItemState()">
        {{ todo.done ? 'done' : 'undone' }}</a
      >
    </div>
  </div>
</div>
